:root{
    &::-webkit-scrollbar {
      display: none;
    }
}

.admin-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    height: 100vh;
    background-color: #E5E7EB;
    /* background-color: #D1D5DB; */
  }
  @media screen and (width<=1100px) {
    .admin-container {
      grid-template-columns: 1fr ;
    }
  }